<!DOCTYPE html>
<html ng-app="wizcation">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wizcation Local </title>

    <!-- Bootstrap -->
    <link href="~/Scripts/dist/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="~/Scripts/assets/css/custom.css" rel="stylesheet" media="all">

    <link href="~/Scripts/examples/carousel/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/fullscreen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/rs-plugin/css/settings.css" media="screen" />

    <!-- Picker -->
    <link rel="stylesheet" href="~/Scripts/assets/css/jquery-ui.css" />

    <!-- bin/jquery.slider.min.css -->
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.round.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.round-blue.css" type="text/css">

    <!-- angular carousel -->
    <link href="~/CSS/angular-carousel/angular-carousel.css" rel="stylesheet" />
    <link href="~/CSS/angular-carousel/demo.css" rel="stylesheet" />

    <link href="~/CSS/angular-bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/assets/js/jquery.v2.0.3.js"></script>
    <script src="~/Scripts/assets/js/jquery-ui.js"></script>

    <!-- bin/jquery.slider.min.js -->
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.slider.js"></script>

</head>
<body id="top" class="thebg">

    <!-- Top wrapper -->
    <div class="navbar-wrapper2 navbar-fixed-top">
        <div class="container">
            <div class="navbar mtnav">

                <div class="container offset-3">
                    <!-- Navigation-->
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#/" class="navbar-brand"><img src="~/Scripts/images/logo.png" alt="Travel Agency Logo" class="logo" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Flights</a></li>
                            <li><a href="#">Vacations</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="#">Cruises</a></li>
                            <li><a href="#">Last minute</a></li>
                            <li><a href="#">Early booking</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Deals<b class="lightcaret mt-2"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Aligned Right Dropdown</li>
                                    <li><a href="#">Sample Link 1</a></li>
                                    <li><a href="#">Sample Link 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /Navigation-->
                </div>

            </div>
        </div>
    </div>
    <!-- / Top wrapper -->

    <div class="container breadcrub">
    </div>

    <!-- CONTENT -->
    <ui-view></ui-view>

    <!-- END OF CONTENT -->
    <!-- Javascript -->
    <!-- This page JS -->
    <!-- Javascript -->
    <!-- Custom Select -->
    <script src="~/Scripts/assets/js/jquery.customSelect.js"></script>

    <!-- Custom functions -->
    <script src="~/Scripts/assets/js/functions.js"></script>
    <script src="~/Scripts/assets/js/jquery-ui.js"></script>
    <script src="~/Scripts/assets/js/jquery.easing.js"></script>

    <!-- Nicescroll  -->
    <script src="~/Scripts/assets/js/jquery.nicescroll.min.js"></script>

    <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- CarouFredSel -->
    <script src="~/Scripts/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.transit.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- Counter -->
    <script src="~/Scripts/assets/js/counter.js"></script>

    <!-- Carousel-->
    <script src="~/Scripts/assets/js/initialize-carousel-detailspage.js"></script>

    <!-- Easing -->
    <script src="~/Scripts/assets/js/jquery.easing.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/dist/js/bootstrap.min.js"></script>

    <script src="~/Areas/Hotel/Theme/theme_smooth/vendor/plugins/moment/moment.js"></script>

    <!-- AngularJS -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>

    <script src="~/Scripts/angular-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script src="~/Scripts/angular-bootstrap-datetimepicker/datetimepicker.templates.js"></script>

    <!-- angular carousel -->
    <script src="~/Scripts/angular-carousel/angular-carousel.min.js"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/Details/Details.js"></script>
    <script src="~/js/SearchDetails.js"></script>
    <!-- AngularJS -->

</body>
</html>