<!DOCTYPE html>
<html ng-app="wizcation">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wizcation Local </title>

    <!-- Bootstrap -->
    <link href="~/Scripts/dist/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="~/Scripts/assets/css/custom.css" rel="stylesheet" media="all">

    <link href="~/Scripts/examples/carousel/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/fullscreen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/rs-plugin/css/settings.css" media="screen" />

    <!-- Picker -->
    <link rel="stylesheet" href="~/Scripts/assets/css/jquery-ui.css" />

    <!-- bin/jquery.slider.min.css -->
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.round.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/plugins/jslider/css/jslider.round-blue.css" type="text/css">

    <!-- angular carousel -->
    <link href="~/CSS/angular-carousel/angular-carousel.css" rel="stylesheet" />
    <link href="~/CSS/angular-carousel/demo.css" rel="stylesheet" />

    <link href="~/CSS/angular-bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/assets/js/jquery.v2.0.3.js"></script>
    <script src="~/Scripts/assets/js/jquery-ui.js"></script>

    <!-- bin/jquery.slider.min.js -->
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jslider/js/jquery.slider.js"></script>

</head>
<body id="top" class="thebg">

    <!-- Top wrapper -->
    <div class="navbar-wrapper2 navbar-fixed-top">
        <div class="container">
            <div class="navbar mtnav">

                <div class="container offset-3">
                    <!-- Navigation-->
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="~/Scripts/images/logo.png" alt="Travel Agency Logo" class="logo" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Flights</a></li>
                            <li><a href="#">Vacations</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="#">Cruises</a></li>
                            <li><a href="#">Last minute</a></li>
                            <li><a href="#">Early booking</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Deals<b class="lightcaret mt-2"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Aligned Right Dropdown</li>
                                    <li><a href="#">Sample Link 1</a></li>
                                    <li><a href="#">Sample Link 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /Navigation-->
                </div>

            </div>
        </div>
    </div>
    <!-- / Top wrapper -->

    <div class="container breadcrub">
    </div>

    <!-- CONTENT -->
    <div class="container">
        <ui-view></ui-view>
    </div>
    <!-- END OF CONTENT -->
    <!-- FOOTER -->
    <div class="footerbg fbgfix">
        <div class="container">

            <div class="col-md-3">
                <span class="ftitle">Let's socialize</span>
                <div class="scont">
                    <a href="#" class="social1b"><img src="~/Scripts/images/icon-facebook.png" alt="" /></a>
                    <a href="#" class="social2b"><img src="~/Scripts/images/icon-twitter.png" alt="" /></a>
                    <a href="#" class="social3b"><img src="~/Scripts/images/icon-gplus.png" alt="" /></a>
                    <a href="#" class="social4b"><img src="~/Scripts/images/icon-youtube.png" alt="" /></a>
                    <br /><br /><br />
                    <a href="#"><img src="~/Scripts/images/logosmal.png" alt="" /></a><br />
                    &copy; 2013  |  <a href="#">Privacy Policy</a><br />
                    All Rights Reserved
                    <br /><br />

                </div>
            </div>
            <!-- End of column 1-->

            <div class="col-md-3">
                <span class="ftitle">Travel Specialists</span>
                <br /><br />
                <ul class="footerlist">
                    <li><a href="#">Golf Vacations</a></li>
                    <li><a href="#">Ski & Snowboarding</a></li>
                    <li><a href="#">Disney Parks Vacations</a></li>
                    <li><a href="#">Disneyland Vacations</a></li>
                    <li><a href="#">Disney World Vacations</a></li>
                    <li><a href="#">Vacations As Advertised</a></li>
                </ul>
            </div>
            <!-- End of column 2-->

            <div class="col-md-3">
                <span class="ftitle">Travel Specialists</span>
                <br /><br />
                <ul class="footerlist">
                    <li><a href="#">Weddings</a></li>
                    <li><a href="#">Accessible Travel</a></li>
                    <li><a href="#">Disney Parks</a></li>
                    <li><a href="#">Cruises</a></li>
                    <li><a href="#">Round the World</a></li>
                    <li><a href="#">First Class Flights</a></li>
                </ul>
            </div>
            <!-- End of column 3-->

            <div class="col-md-3 grey">
                <span class="ftitle">Newsletter</span>
                <div class="relative">
                    <input type="email" class="form-control fccustom" id="exampleInputEmail1" placeholder="Enter email">
                    <button type="submit" class="btn btn-default btncustom">Submit<img src="~/Scripts/images/arrow.png" alt="" /></button>
                </div>
                <br /><br />
                <span class="ftitle">Customer support</span><br />
                <span class="pnr">1-866-599-6674</span><br />
                office@travel.com
            </div>
            <!-- End of column 4-->


        </div>
    </div>

    <div class="footerbg3 bordertop1">
        <div class="container center grey">
            <a href="#">Home</a> |
            <a href="#">About</a> |
            <a href="#">Last minute</a> |
            <a href="#">Early booking</a> |
            <a href="#">Special offers</a> |
            <a href="#">Blog</a> |
            <a href="#">Contact</a>
            <a href="#top" class="gotop scroll"><img src="~/Scripts/images/spacer.png" alt="" /></a>
        </div>
    </div>

    <!-- Javascript --> 

    <!-- This page JS -->

    <!-- Javascript -->
    <script src="~/Scripts/assets/js/js-details.js"></script>

    <!-- Googlemap -->
    <script src="~/Scripts/assets/js/initialize-google-map.js"></script>

    <!-- Custom Select -->
    <script src="~/Scripts/assets/js/jquery.customSelect.js"></script>

    <!-- Custom functions -->
    <script src="~/Scripts/assets/js/functions.js"></script>

    <!-- Nicescroll  -->
    <script src="~/Scripts/assets/js/jquery.nicescroll.min.js"></script>

    <!-- jQuery KenBurn Slider  -->
    @*<script type="text/javascript" src="~/Scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>*@
    <script src="~/Scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- CarouFredSel -->
    <script src="~/Scripts/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.transit.min.js"></script>
    <script src="~/Scripts/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- Counter -->
    <script src="~/Scripts/assets/js/counter.js"></script>

    <!-- Carousel-->
    <script src="~/Scripts/assets/js/initialize-carousel-detailspage.js"></script>

    <!-- Easing -->
    <script src="~/Scripts/assets/js/jquery.easing.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/dist/js/bootstrap.min.js"></script>

    <script src="~/Areas/Hotel/Theme/theme_smooth/vendor/plugins/moment/moment.js"></script>

    <!-- AngularJS -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>

    <script src="~/Scripts/angular-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script src="~/Scripts/angular-bootstrap-datetimepicker/datetimepicker.templates.js"></script>

    <!-- angular carousel -->
    <script src="~/Scripts/angular-carousel/angular-carousel.min.js"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/Details/Details.js"></script>
    <!-- AngularJS -->
    
</body>
</html>
